<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="MysqlConn" value="server=172.18.100.88;Database=data_center;UID=xupanpan;PWD=ajZ3bb1SEb^g;port=1010;CharSet=utf8;pooling=true;" />-->
    <!--<add key="OracleConn" value="User ID=mysteel;Password=$UZP3OWR5u$;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = 172.18.100.111)(PORT = 1521))) (CONNECT_DATA = (SID=MYSTEEL)))" />-->

    <add key="MysqlConn" value="server=192.168.200.231;Database=data_center;UID=root;PWD=mysteel;port=3306;CharSet=utf8;pooling=true;" />
    <add key="OracleConn" value="User ID=mysteel;Password=$UZP3OWR5u$;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.100.240)(PORT = 1521))) (CONNECT_DATA = (SID=MYSTEEL)))" />
  </appSettings>
</configuration>
